<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.platform.core.persistence.mapper.sys.SysRoleMenuMapper">

	 <resultMap type="com.github.platform.core.sys.domain.common.entity.SysRoleMenuBase" id="BaseResultMap">
    	 <id column="roleId" property="roleId" />
		 <id column="roleKey" property="roleKey" />
		 <id column="menuId" property="menuId" />
		 <id column="tenantId" property="tenantId" />
		 <id column="createBy" property="createBy" />
		 <id column="createTime" property="createTime" />
    </resultMap>
    <sql id="BaseColumnList">
    	 t.role_id as roleId ,
    	 t.role_key as roleKey,
 		 t.menu_id as menuId ,
 		 t.tenant_id as tenantId,
    	 t.create_by as createBy,
    	 t.create_time as createTime
    </sql>

	<insert id="insert" useGeneratedKeys="true"  keyProperty="id" parameterType="com.github.platform.core.sys.domain.common.entity.SysRoleMenuBase">
		insert into  t_sys_role_menu
		<trim prefix="(" suffix=")" suffixOverrides=","> 
 			<if test="roleId != null">
 				role_id,
 			</if>
			<if test="roleKey != null and roleKey != ''">
				role_key,
			</if>
 			<if test="menuId != null">
 				menu_id,
 			</if>
 			<if test="tenantId != null">
 				tenant_id,
 			</if>
			<if test="createBy != null and createBy != ''">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
 			<if test="roleId != null">
 				#{roleId},
 			</if>
			<if test="roleKey != null and roleKey != ''">
				#{roleKey},
			</if>
 			<if test="menuId != null">
 				#{menuId},
 			</if>
 			<if test="tenantId != null">
 				#{tenantId},
 			</if>
			<if test="createBy != null and createBy != ''">
				#{createBy},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
		</trim>
	</insert>
	
	<update id="updateById" parameterType="com.github.platform.core.sys.domain.common.entity.SysRoleMenuBase">
		update   t_sys_role_menu
 		 <set>
 			 <if test="menuId != null">
 				menu_id = #{menuId},
 			 </if>
 			 <if test="tenantId != null">
 				tenant_id = #{tenantId},
 			 </if>
 		 </set>
     where role_id = #{roleId}
	</update>
	<select id="findByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_sys_role_menu t where t.role_id=#{roleId}
	</select>
	<select id="findByRoleIds" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_sys_role_menu
		<where>
			<foreach item="id"  collection="ids" open="role_id  in (" separator="," close=")" >
				#{id}
			</foreach>
		</where>
		limit 200
	</select>
	<select id="findListBy" resultMap="BaseResultMap" parameterType="com.github.platform.core.sys.domain.common.entity.SysRoleMenuBase">
		select 
 		<include refid="BaseColumnList" />
 		from t_sys_role_menu t
 		<where>
 			<if test="roleId != null">
 				and t.role_id = #{roleId}
 			</if>
 			<if test="menuId != null">
 				and t.menu_id = #{menuId}
 			</if>
			<if test="tenantId != null">
				and t.tenant_id = #{tenantId}
			</if>
		</where>
	</select>
	<select id="findListByCount" resultType="java.lang.Integer" parameterType="com.github.platform.core.sys.domain.common.entity.SysRoleMenuBase">
		select  count(t.role_id) from t_sys_role_menu t
		<where>
			<if test="roleId != null">
				and t.role_id = #{roleId}
			</if>
			<if test="menuId != null">
				and t.menu_id = #{menuId}
			</if>
			<if test="tenantId != null">
				and t.tenant_id = #{tenantId}
			</if>
		</where>
	</select>
	<delete id="deleteByRoleId" parameterType="java.lang.Long">
		delete from t_sys_role_menu where role_id = #{roleId}
	</delete>
	<delete id="deleteByRoleIds" >
		<!--没有传入数据抛异常，不会全删-->
		<if test="ids != null and ids.length>0">
			delete from t_sys_role_menu
			where role_id in (
				<foreach item="roleId"  collection="roleIds"  separator=","  >
					#{roleId}
				</foreach>
			)
		</if>
	</delete>
	<insert id="insertList" parameterType="java.util.List">
		insert into  t_sys_role_menu (role_id,role_key,menu_id,tenant_id,create_by,create_time)
		values
		<foreach item="item"  collection="list"  separator=","  >
			(#{item.roleId},#{item.roleKey},#{item.menuId},#{item.tenantId},#{item.createBy},#{item.createTime})
		</foreach>
	</insert>

	<delete id="deleteByRolesAndMenuId" >
		<!--没有传入数据抛异常，不会全删-->
		<if test="roleIds != null and roleIds.length>0">
			delete from t_sys_role_menu
			<where>
				<foreach item="roleKey"  collection="roleKeys" open="role_key  in (" separator="," close=")" >
					#{roleKey}
				</foreach>
				<if test="menuId != null">
					and menu_id = #{menuId}
				</if>
			</where>
		</if>
	</delete>
	<delete id="deleteByRoleKey">
		delete from t_sys_role_menu where  role_key = #{roleKey}
	</delete>
</mapper>