<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.platform.core.persistence.mapper.sms.SysSmsLogMapper">

	<resultMap type="com.github.platform.core.sms.domain.common.entity.SysSmsLogBase" id="BaseResultMap">
		<id column="id" property="id" />
		<id column="proNo" property="proNo" />
		<id column="mobile" property="mobile" />
		<id column="msgId" property="msgId" />
		<id column="thirdMsgId" property="thirdMsgId" />
		<id column="tempNo" property="tempNo" />
		<id column="content" property="content" />
		<id column="status" property="status" />
		<id column="tenantId" property="tenantId" />
		<id column="sendStatus" property="sendStatus" />
		<id column="createTime" property="createTime" />
		<id column="createBy" property="createBy" />
		<id column="updateTime" property="updateTime" />
		<id column="remark" property="remark" />

	</resultMap>
	<sql id="Base_Column_List">
		t.id as id ,
		t.pro_no as proNo ,
		t.mobile as mobile ,
		t.msg_id as msgId ,
		t.third_msg_id as thirdMsgId ,
		t.temp_no as tempNo ,
		t.content as content ,
		t.status as status ,
		t.tenant_id as tenantId ,
		t.send_status as sendStatus ,
		t.create_time as createTime ,
		t.create_by as createBy ,
		t.update_time as updateTime ,
		t.remark as remark
	</sql>

	<insert id="insert" useGeneratedKeys="true"  keyProperty="id" parameterType="com.github.platform.core.sms.domain.common.entity.SysSmsLogBase">
		insert into  t_sys_sms_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="proNo != null">
				pro_no,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="msgId != null">
				msg_id,
			</if>
			<if test="thirdMsgId != null">
				third_msg_id,
			</if>
			<if test="tempNo != null">
				temp_no,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="tenantId != null">
				tenant_id,
			</if>
			<if test="sendStatus != null">
				send_status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">
				#{id},
			</if>
			<if test="proNo != null">
				#{proNo},
			</if>
			<if test="mobile != null">
				#{mobile},
			</if>
			<if test="msgId != null">
				#{msgId},
			</if>
			<if test="thirdMsgId != null">
				#{thirdMsgId
			</if>
			<if test="tempNo != null">
				#{tempNo},
			</if>
			<if test="content != null">
				#{content},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="tenantId != null">
				#{tenantId},
			</if>
			<if test="sendStatus != null">
				#{sendStatus},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="createBy != null">
				#{createBy},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
		</trim>
	</insert>

	<update id="updateById" parameterType="com.github.platform.core.sms.domain.common.entity.SysSmsLogBase">
		update   t_sys_sms_log
		<set>
			<if test="proNo != null">
				pro_no = #{proNo},
			</if>
			<if test="mobile != null">
				mobile = #{mobile},
			</if>
			<if test="msgId != null">
				msg_id = #{msgId},
			</if>
			<if test="thirdMsgId != null">
				third_msg_id = #{thirdMsgId
			</if>
			<if test="tempNo != null">
				temp_no = #{tempNo},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="tenantId != null">
				tenant_id = #{tenantId},
			</if>
			<if test="sendStatus != null">
				send_status = #{sendStatus},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="createBy != null">
				create_by = #{createBy},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="Base_Column_List" /> from t_sys_sms_log t where t.id=#{id}
	</select>
	<select id="findByIds" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="Base_Column_List" /> from t_sys_sms_log
		<where>
			<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
				#{id}
			</foreach>
		</where>
		limit 200
	</select>
	<select id="findList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_sys_sms_log t
		<where>
			<if test="id!= null">
				and t.id =  #{id}
			</if>
			<if test="proNo!= null">
				and t.pro_no =  #{proNo}
			</if>
			<if test="mobile!= null">
				and t.mobile =  #{mobile}
			</if>
			<if test="msgId!= null">
				and t.msg_id =  #{msgId}
			</if>
			<if test="thirdMsgId!= null">
				and t.third_msg_id =  #{thirdMsgId}
			</if>
			<if test="tempNo!= null">
				and t.temp_no =  #{tempNo}
			</if>
			<if test="content!= null">
				and t.content =  #{content}
			</if>
			<if test="status!= null">
				and t.status =  #{status}
			</if>
			<if test="tenantId!= null">
				and t.tenant_id =  #{tenantId}
			</if>
			<if test="sendStatus!= null">
				and t.send_status =  #{sendStatus}
			</if>
			<if test="createTime!= null">
				and t.create_time =  #{createTime}
			</if>
			<if test="searchStartTime != null ">
				and t.create_time <![CDATA[>=]]> #{searchStartTime}
			</if>
			<if test="searchEndTime != null ">
				and t.create_time <![CDATA[<=]]>  #{searchEndTime}
			</if>
			<if test="updateTime!= null">
				and t.update_time =  #{updateTime}
			</if>
			<if test="remark!= null">
				and t.remark =  #{remark}
			</if>
		</where>
	</select>
	<select id="findListBy" resultMap="BaseResultMap" parameterType="com.github.platform.core.sms.domain.common.entity.SysSmsLogBase">
		select
		<include refid="Base_Column_List" />
		from t_sys_sms_log t
		<where>
			<if test="id!= null">
				and t.id =  #{id}
			</if>
			<if test="proNo!= null">
				and t.pro_no =  #{proNo}
			</if>
			<if test="mobile!= null">
				and t.mobile =  #{mobile}
			</if>
			<if test="msgId!= null">
				and t.msg_id =  #{msgId}
			</if>
			<if test="thirdMsgId!= null">
				and t.third_msg_id = #{thirdMsgId
			</if>
			<if test="tempNo!= null">
				and t.temp_no =  #{tempNo}
			</if>
			<if test="content!= null">
				and t.content =  #{content}
			</if>
			<if test="status!= null">
				and t.status =  #{status}
			</if>
			<if test="tenantId!= null">
				and t.tenant_id =  #{tenantId}
			</if>
			<if test="sendStatus!= null">
				and t.send_status =  #{sendStatus}
			</if>
			<if test="searchStartTime != null ">
				and t.create_time <![CDATA[>=]]> #{searchStartTime}
			</if>
			<if test="searchEndTime != null ">
				and t.create_time <![CDATA[<=]]>  #{searchEndTime}
			</if>
			<if test="updateTime!= null">
				and t.update_time =  #{updateTime}
			</if>
			<if test="remark!= null">
				and t.remark =  #{remark}
			</if>
		</where>
	</select>
	<select id="findListCount" resultType="java.lang.Long"  parameterType="java.util.Map">
		select  count(t.id) from t_sys_sms_log t
		<where>
			<if test="id != null">
				and t.id = #{id}
			</if>
			<if test="proNo != null">
				and t.pro_no = #{proNo}
			</if>
			<if test="mobile != null">
				and t.mobile = #{mobile}
			</if>
			<if test="msgId != null">
				and t.msg_id = #{msgId}
			</if>
			<if test="thirdMsgId != null">
				and t.third_msg_id = #{thirdMsgId}
			</if>
			<if test="tempNo != null">
				and t.temp_no = #{tempNo}
			</if>
			<if test="content != null">
				and t.content = #{content}
			</if>
			<if test="status != null">
				and t.status = #{status}
			</if>
			<if test="tenantId != null">
				and t.tenant_id = #{tenantId}
			</if>
			<if test="sendStatus != null">
				and t.send_status = #{sendStatus}
			</if>
			<if test="createTime != null">
				and t.create_time = #{createTime}
			</if>
			<if test="createBy != null">
				and t.create_by = #{createBy}
			</if>
			<if test="updateTime != null">
				and t.update_time = #{updateTime}
			</if>
			<if test="remark != null">
				and t.remark = #{remark}
			</if>
		</where>
	</select>
	<select id="findListByCount" resultType="java.lang.Long"  parameterType="com.github.platform.core.sms.domain.common.entity.SysSmsLogBase">
		select  count(t.id) from t_sys_sms_log t
		<where>
			<if test="id != null">
				and t.id = #{id}
			</if>
			<if test="proNo != null">
				and t.pro_no = #{proNo}
			</if>
			<if test="mobile != null">
				and t.mobile = #{mobile}
			</if>
			<if test="msgId != null">
				and t.msg_id = #{msgId}
			</if>
			<if test="thirdMsgId != null">
				and t.third_msg_id = #{thirdMsgId
			</if>
			<if test="tempNo != null">
				and t.temp_no = #{tempNo}
			</if>
			<if test="content != null">
				and t.content = #{content}
			</if>
			<if test="status != null">
				and t.status = #{status}
			</if>
			<if test="tenantId != null">
				and t.tenant_id = #{tenantId}
			</if>
			<if test="sendStatus != null">
				and t.send_status = #{sendStatus}
			</if>
			<if test="createTime != null">
				and t.create_time = #{createTime}
			</if>
			<if test="createBy != null">
				and t.create_by = #{createBy}
			</if>
			<if test="updateTime != null">
				and t.update_time = #{updateTime}
			</if>
			<if test="remark != null">
				and t.remark = #{remark}
			</if>
		</where>
	</select>
	<select id="findByMsgId" resultType="com.github.platform.core.sms.domain.common.entity.SysSmsLogBase">
		select <include refid="Base_Column_List" /> from t_sys_sms_log t where t.msg_id = #{msgId}
	</select>
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from t_sys_sms_log where id = #{id}
	</delete>
	<delete id="deleteByIds" parameterType="java.lang.Long">
		<!--没有传入数据抛异常，不会全删-->
		<if test="ids != null and ids.length>0">
			delete from t_sys_sms_log
			<where>
				<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
					#{id}
				</foreach>
			</where>
		</if>
	</delete>
</mapper>