<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.platform.core.persistence.mapper.workflow.FormMapper">

	<resultMap type="com.github.platform.core.workflow.domain.common.entity.FormBase" id="BaseResultMap">
		<id column="id" property="id" />
		<id column="formNo" property="formNo" />
		<id column="formName" property="formName" />
		<id column="formDesc" property="formDesc" />
		<id column="formChannel" property="formChannel" />
		<id column="status" property="status" />
		<id column="tenantId" property="tenantId" />
		<id column="createTime" property="createTime" />
		<id column="updateTime" property="updateTime" />
		<id column="updateBy" property="updateBy" />
		<id column="createBy" property="createBy" />
		<id column="remark" property="remark" />
    </resultMap>
    <sql id="BaseColumnList">
		t.id,
		t.form_no as formNo,
		t.form_name as formName,
		t.form_desc as formDesc,
		t.form_channel as formChannel,
		t.status,
		t.tenant_id as tenantId,
		t.create_time as createTime,
		t.update_time as updateTime,
		t.update_by as updateBy,
		t.create_by as createBy,
		t.remark
    </sql>

	<insert id="insert" useGeneratedKeys="true"  keyProperty="id" parameterType="com.github.platform.core.workflow.domain.common.entity.FormBase">
		insert into t_flw_form
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null ">
				id,
			</if>
			<if test="formNo != null  and formNo != ''">
				form_no,
			</if>
			<if test="formName != null  and formName != ''">
				form_name,
			</if>
			<if test="formDesc != null  and formDesc != ''">
				form_desc,
			</if>
			<if test="formChannel != null  and formChannel != ''">
				form_channel,
			</if>
			<if test="status != null ">
				status,
			</if>
			<if test="tenantId != null ">
				tenant_id,
			</if>
			<if test="createTime != null ">
				create_time,
			</if>
			<if test="updateTime != null ">
				update_time,
			</if>
			<if test="updateBy != null  and updateBy != ''">
				update_by,
			</if>
			<if test="createBy != null  and createBy != ''">
				create_by,
			</if>
			<if test="remark != null  and remark != ''">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null ">
				#{id},
			</if>
			<if test="formNo != null  and formNo != ''">
				#{formNo},
			</if>
			<if test="formName != null  and formName != ''">
				#{formName},
			</if>
			<if test="formDesc != null  and formDesc != ''">
				#{formDesc},
			</if>
			<if test="formChannel != null  and formChannel != ''">
				#{formChannel},
			</if>
			<if test="status != null ">
				#{status},
			</if>
			<if test="tenantId != null ">
				#{tenantId},
			</if>
			<if test="createTime != null ">
				#{createTime},
			</if>
			<if test="updateTime != null ">
				#{updateTime},
			</if>
			<if test="updateBy != null  and updateBy != ''">
				#{updateBy},
			</if>
			<if test="createBy != null  and createBy != ''">
				#{createBy},
			</if>
			<if test="remark != null  and remark != ''">
				#{remark},
			</if>
		</trim>
	</insert>
	
	<update id="updateById" parameterType="com.github.platform.core.workflow.domain.common.entity.FormBase">
		update t_flw_form
		<set>
			<if test="formNo != null  and formNo != ''">
				form_no = #{formNo},
			</if>
			<if test="formName != null  and formName != ''">
				form_name = #{formName},
			</if>
			<if test="formDesc != null  and formDesc != ''">
				form_desc = #{formDesc},
			</if>
			<if test="formChannel != null  and formChannel != ''">
				form_channel = #{formChannel},
			</if>
			<if test="status != null ">
				status = #{status},
			</if>
			<if test="tenantId != null ">
				tenant_id = #{tenantId},
			</if>
			<if test="createTime != null ">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null ">
				update_time = #{updateTime},
			</if>
			<if test="updateBy != null  and updateBy != ''">
				update_by = #{updateBy},
			</if>
			<if test="createBy != null  and createBy != ''">
				create_by = #{createBy},
			</if>
			<if test="remark != null  and remark != ''">
				remark = #{remark},
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_flw_form t where t.id=#{id}
	</select>
	<select id="findByIds" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_flw_form t
		<where>
			<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
				#{id}
			</foreach>
		</where>
		limit 200
	</select>
	<select id="findList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
		<include refid="BaseColumnList" />
		from t_flw_form t
		<where>
			<if test="id != null ">
				and t.id = #{id}
			</if>
			<if test="formNo != null  and formNo != ''">
				and t.form_no = #{formNo}
			</if>
			<if test="formName != null  and formName != ''">
				and t.form_name like concat('%', #{formName}, '%')
			</if>
			<if test="formDesc != null  and formDesc != ''">
				and t.form_desc = #{formDesc}
			</if>
			<if test="formChannel != null  and formChannel != ''">
				and t.form_channel = #{formChannel}
			</if>
			<if test="status != null ">
				and t.status = #{status}
			</if>
			<if test="tenantId != null ">
				and t.tenant_id = #{tenantId}
			</if>
			<if test="updateBy != null  and updateBy != ''">
				and t.update_by = #{updateBy}
			</if>
			<if test="createBy != null  and createBy != ''">
				and t.create_by = #{createBy}
			</if>
			<if test="searchStartTime != null">
				and t.create_time <![CDATA[>=]]> #{searchStartTime}
			</if>
			<if test="searchEndTime != null">
				and t.create_time <![CDATA[<=]]> #{searchEndTime}
			</if>
		</where>
	</select>
	<select id="findListBy" resultMap="BaseResultMap" parameterType="com.github.platform.core.workflow.domain.common.entity.FormBase">
		select 
		<include refid="BaseColumnList" />
		from t_flw_form t
		<where>
			<if test="id != null ">
				and t.id = #{id}
			</if>
			<if test="formNo != null  and formNo != ''">
				and t.form_no = #{formNo}
			</if>
			<if test="formName != null  and formName != ''">
				and t.form_name like concat('%', #{formName}, '%')
			</if>
			<if test="formDesc != null  and formDesc != ''">
				and t.form_desc = #{formDesc}
			</if>
			<if test="formChannel != null  and formChannel != ''">
				and t.form_channel = #{formChannel}
			</if>
			<if test="status != null ">
				and t.status = #{status}
			</if>
			<if test="tenantId != null ">
				and t.tenant_id = #{tenantId}
			</if>
			<if test="updateBy != null  and updateBy != ''">
				and t.update_by = #{updateBy}
			</if>
			<if test="createBy != null  and createBy != ''">
				and t.create_by = #{createBy}
			</if>
			<if test="searchStartTime != null">
				and t.create_time <![CDATA[>=]]> #{searchStartTime}
			</if>
			<if test="searchEndTime != null">
				and t.create_time <![CDATA[<=]]> #{searchEndTime}
			</if>
		</where>
	</select>
	<select id="findListCount" resultType="java.lang.Long"  parameterType="java.util.Map">
		select count(t.id) from t_flw_form t
		<where>
			<if test="id != null ">
				and t.id = #{id}
			</if>
			<if test="formNo != null  and formNo != ''">
				and t.form_no = #{formNo}
			</if>
			<if test="formName != null  and formName != ''">
				and t.form_name = #{formName}
			</if>
			<if test="formDesc != null  and formDesc != ''">
				and t.form_desc = #{formDesc}
			</if>
			<if test="formChannel != null  and formChannel != ''">
				and t.form_channel = #{formChannel}
			</if>
			<if test="status != null ">
				and t.status = #{status}
			</if>
			<if test="tenantId != null ">
				and t.tenant_id = #{tenantId}
			</if>
			<if test="createTime != null ">
				and t.create_time = #{createTime}
			</if>
			<if test="updateTime != null ">
				and t.update_time = #{updateTime}
			</if>
			<if test="updateBy != null  and updateBy != ''">
				and t.update_by = #{updateBy}
			</if>
			<if test="createBy != null  and createBy != ''">
				and t.create_by = #{createBy}
			</if>
			<if test="remark != null  and remark != ''">
				and t.remark = #{remark}
			</if>
		</where>
	</select>
	<select id="findListByCount" resultType="java.lang.Long"  parameterType="com.github.platform.core.workflow.domain.common.entity.FormBase">
		select count(t.id) from t_flw_form t
		<where>
			<if test="id != null ">
				and t.id = #{id}
			</if>
			<if test="formNo != null  and formNo != ''">
				and t.form_no = #{formNo}
			</if>
			<if test="formName != null  and formName != ''">
				and t.form_name = #{formName}
			</if>
			<if test="formDesc != null  and formDesc != ''">
				and t.form_desc = #{formDesc}
			</if>
			<if test="formChannel != null  and formChannel != ''">
				and t.form_channel = #{formChannel}
			</if>
			<if test="status != null ">
				and t.status = #{status}
			</if>
			<if test="tenantId != null ">
				and t.tenant_id = #{tenantId}
			</if>
			<if test="createTime != null ">
				and t.create_time = #{createTime}
			</if>
			<if test="updateTime != null ">
				and t.update_time = #{updateTime}
			</if>
			<if test="updateBy != null  and updateBy != ''">
				and t.update_by = #{updateBy}
			</if>
			<if test="createBy != null  and createBy != ''">
				and t.create_by = #{createBy}
			</if>
			<if test="remark != null  and remark != ''">
				and t.remark = #{remark}
			</if>
		</where>
	</select>
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from t_flw_form where id = #{id}
	</delete>
	<delete id="deleteByIds" parameterType="java.lang.Long">
		<!--没有传入数据抛异常，不会全删-->
		<if test="ids != null and ids.length>0">
			delete from t_flw_form
			<where>
				<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
					#{id}
				</foreach>
			</where>
		</if>
	</delete>
</mapper>