<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.platform.core.persistence.mapper.workflow.FormDataMapper">

	<resultMap type="com.github.platform.core.workflow.domain.common.entity.FormDataBase" id="BaseResultMap">
		<id column="id" property="id" />
		<id column="formNo" property="formNo" />
		<id column="instanceNo" property="instanceNo" />
		<id column="type" property="type" />
		<id column="label" property="label" />
		<id column="name" property="name" />
		<id column="value" property="value" />
		<id column="sort" property="sort" />
		<id column="tenantId" property="tenantId" />
		<id column="createTime" property="createTime" />
		<id column="updateTime" property="updateTime" />
		<id column="updateBy" property="updateBy" />
		<id column="createBy" property="createBy" />
		<id column="remark" property="remark" />
    </resultMap>
    <sql id="BaseColumnList">
		t.id,
		t.form_no as formNo,
		t.instance_no as instanceNo,
		t.type,
		t.label,
		t.name,
		t.value,
		t.sort,
		t.tenant_id as tenantId,
		t.create_time as createTime,
		t.update_time as updateTime,
		t.update_by as updateBy,
		t.create_by as createBy,
		t.remark
    </sql>

	<insert id="insert" useGeneratedKeys="true"  keyProperty="id" parameterType="com.github.platform.core.workflow.domain.common.entity.FormDataBase">
		insert into t_flw_form_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null ">
				id,
			</if>
			<if test="formNo != null  and formNo != ''">
				form_no,
			</if>
			<if test="instanceNo != null  and instanceNo != ''">
				instance_no,
			</if>
			<if test="type != null  and type != ''">
				type,
			</if>
			<if test="label != null  and label != ''">
				label,
			</if>
			<if test="name != null  and name != ''">
				name,
			</if>
			<if test="value != null  and value != ''">
				value,
			</if>
			<if test="sort != null ">
				sort,
			</if>
			<if test="tenantId != null ">
				tenant_id,
			</if>
			<if test="createTime != null ">
				create_time,
			</if>
			<if test="updateTime != null ">
				update_time,
			</if>
			<if test="updateBy != null  and updateBy != ''">
				update_by,
			</if>
			<if test="createBy != null  and createBy != ''">
				create_by,
			</if>
			<if test="remark != null  and remark != ''">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null ">
				#{id},
			</if>
			<if test="formNo != null  and formNo != ''">
				#{formNo},
			</if>
			<if test="instanceNo != null  and instanceNo != ''">
				#{instanceNo},
			</if>
			<if test="type != null  and type != ''">
				#{type},
			</if>
			<if test="label != null  and label != ''">
				#{label},
			</if>
			<if test="name != null  and name != ''">
				#{name},
			</if>
			<if test="value != null  and value != ''">
				#{value},
			</if>
			<if test="sort != null ">
				#{sort},
			</if>
			<if test="tenantId != null ">
				#{tenantId},
			</if>
			<if test="createTime != null ">
				#{createTime},
			</if>
			<if test="updateTime != null ">
				#{updateTime},
			</if>
			<if test="updateBy != null  and updateBy != ''">
				#{updateBy},
			</if>
			<if test="createBy != null  and createBy != ''">
				#{createBy},
			</if>
			<if test="remark != null  and remark != ''">
				#{remark},
			</if>
		</trim>
	</insert>
	<insert id="insertList"  parameterType="java.util.List">
		insert into  t_flw_form_data
		(form_no,instance_no,`type`,label,name,`value`,sort,tenant_id,create_time,create_by)
		values
		<foreach item="item"  collection="list"  separator=","  >
			(#{item.formNo},#{item.instanceNo},#{item.type},#{item.label},#{item.name},#{item.value},#{item.sort},#{item.tenantId},now(),#{item.createBy})
		</foreach>
	</insert>
	<update id="updateList" parameterType="java.util.List">
		<foreach collection="list" item="item" separator=";">
			UPDATE t_flw_form_data
			<set>
				<if test="item.value != null and item.value != ''">`value` = <![CDATA[#{item.value}]]>,</if>
				<if test="item.updateTime != null">update_time = <![CDATA[#{item.updateTime}]]>,</if>
				<if test="item.updateBy != null and item.updateBy != ''">update_by = <![CDATA[#{item.updateBy}]]>,</if>
			</set>
			WHERE id = #{item.id}
		</foreach>
	</update>
	<update id="updateById" parameterType="com.github.platform.core.workflow.domain.common.entity.FormDataBase">
		update t_flw_form_data
		<set>
			<if test="formNo != null  and formNo != ''">
				form_no = #{formNo},
			</if>
			<if test="instanceNo != null  and instanceNo != ''">
				instance_no = #{instanceNo},
			</if>
			<if test="type != null  and type != ''">
				type = #{type},
			</if>
			<if test="label != null  and label != ''">
				label = #{label},
			</if>
			<if test="name != null  and name != ''">
				name = #{name},
			</if>
			<if test="value != null  and value != ''">
				value = #{value},
			</if>
			<if test="tenantId != null ">
				tenant_id = #{tenantId},
			</if>
			<if test="createTime != null ">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null ">
				update_time = #{updateTime},
			</if>
			<if test="updateBy != null  and updateBy != ''">
				update_by = #{updateBy},
			</if>
			<if test="createBy != null  and createBy != ''">
				create_by = #{createBy},
			</if>
			<if test="remark != null  and remark != ''">
				remark = #{remark},
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_flw_form_data t where t.id=#{id}
	</select>
	<select id="findByIds" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_flw_form_data t
		<where>
			<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
				#{id}
			</foreach>
		</where>
		limit 200
	</select>
	<select id="findListBy" resultMap="BaseResultMap" parameterType="com.github.platform.core.workflow.domain.common.entity.FormDataBase">
		select 
		<include refid="BaseColumnList" />
		from t_flw_form_data t
		<where>
			<if test="id != null ">
				and t.id = #{id}
			</if>
			<if test="formNo != null  and formNo != ''">
				and t.form_no = #{formNo}
			</if>
			<if test="instanceNo != null  and instanceNo != ''">
				and t.instance_no = #{instanceNo}
			</if>
			<if test="type != null  and type != ''">
				and t.type = #{type}
			</if>
			<if test="label != null  and label != ''">
				and t.label = #{label}
			</if>
			<if test="name != null  and name != ''">
				and t.name = #{name}
			</if>
			<if test="value != null  and value != ''">
				and t.value = #{value}
			</if>
			<if test="tenantId != null ">
				and t.tenant_id = #{tenantId}
			</if>
			<if test="updateBy != null  and updateBy != ''">
				and t.update_by = #{updateBy}
			</if>
			<if test="createBy != null  and createBy != ''">
				and t.create_by = #{createBy}
			</if>
			<if test="searchStartTime != null">
				and t.create_time <![CDATA[>=]]> #{searchStartTime}
			</if>
			<if test="searchEndTime != null">
				and t.create_time <![CDATA[<=]]> #{searchEndTime}
			</if>
		</where>
	</select>
	<select id="findListByCount" resultType="java.lang.Long"  parameterType="com.github.platform.core.workflow.domain.common.entity.FormDataBase">
		select count(t.id) from t_flw_form_data t
		<where>
			<if test="id != null ">
				and t.id = #{id}
			</if>
			<if test="formNo != null  and formNo != ''">
				and t.form_no = #{formNo}
			</if>
			<if test="instanceNo != null  and instanceNo != ''">
				and t.instance_no = #{instanceNo}
			</if>
			<if test="type != null  and type != ''">
				and t.type = #{type}
			</if>
			<if test="label != null  and label != ''">
				and t.label = #{label}
			</if>
			<if test="name != null  and name != ''">
				and t.name = #{name}
			</if>
			<if test="value != null  and value != ''">
				and t.value = #{value}
			</if>
			<if test="tenantId != null ">
				and t.tenant_id = #{tenantId}
			</if>
			<if test="createTime != null ">
				and t.create_time = #{createTime}
			</if>
			<if test="updateTime != null ">
				and t.update_time = #{updateTime}
			</if>
			<if test="updateBy != null  and updateBy != ''">
				and t.update_by = #{updateBy}
			</if>
			<if test="createBy != null  and createBy != ''">
				and t.create_by = #{createBy}
			</if>
			<if test="remark != null  and remark != ''">
				and t.remark = #{remark}
			</if>
		</where>
	</select>
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from t_flw_form_data where id = #{id}
	</delete>
	<delete id="deleteByIds" parameterType="java.lang.Long">
		<!--没有传入数据抛异常，不会全删-->
		<if test="ids != null and ids.length>0">
			delete from t_flw_form_data
			<where>
				<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
					#{id}
				</foreach>
			</where>
		</if>
	</delete>
</mapper>