<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.platform.core.persistence.mapper.message.SysNoticeChannelConfigMapper">

	<!--数据库字段与属性映射-->
	<resultMap type="com.github.platform.core.message.domain.common.entity.SysNoticeChannelConfigBase" id="BaseResultMap">
		<id column="id" property="id" />
		<id column="channel_type" property="channelType" />
		<id column="app_key" property="appKey" />
		<id column="app_secret" property="appSecret" />
		<id column="token_key" property="tokenKey" />
		<id column="host" property="host" />
		<id column="port" property="port" />
		<id column="config" property="config" />
		<id column="tenant_id" property="tenantId" />
		<id column="status" property="status" />
		<id column="create_by" property="createBy" />
		<id column="create_time" property="createTime" />
		<id column="update_by" property="updateBy" />
		<id column="update_time" property="updateTime" />
		<id column="remark" property="remark" />
	</resultMap>
	<!--通用查询字段封装-->
	<sql id="BaseColumnList">
		t.id,
		t.channel_type,
		t.app_key,
		t.app_secret,
		t.host,
		t.port,
		t.token_key,
		t.config,
		t.tenant_id,
		t.status,
		t.create_by,
		t.create_time,
		t.update_by,
		t.update_time,
		t.remark
	</sql>

	<insert id="insert" useGeneratedKeys="true"  keyProperty="id" parameterType="com.github.platform.core.message.domain.common.entity.SysNoticeChannelConfigBase">
		insert into t_sys_notice_channel_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null ">id,</if>
			<if test="channelType != null  and channelType != ''">channel_type,</if>
			<if test="appKey != null  and appKey != ''">app_key,</if>
			<if test="appSecret != null  and appSecret != ''">app_secret,</if>
			<if test="host != null  and host != ''">host,</if>
			<if test="port != null ">port,</if>
			<if test="tokenKey != null  and tokenKey != ''">token_key,</if>
			<if test="config != null  and config != ''">config,</if>
			<if test="tenantId != null ">tenant_id,</if>
			<if test="status != null ">status,</if>
			<if test="createBy != null  and createBy != ''">create_by,</if>
			<if test="createTime != null ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''">update_by,</if>
			<if test="updateTime != null ">update_time,</if>
			<if test="remark != null  and remark != ''">remark,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null ">#{id},</if>
			<if test="channelType != null  and channelType != ''">#{channelType},</if>
			<if test="appKey != null  and appKey != ''">#{appKey},</if>
			<if test="appSecret != null  and appSecret != ''">#{appSecret},</if>
			<if test="host != null  and host != ''">#{host},</if>
			<if test="port != null ">#{port},</if>
			<if test="tokenKey != null  and tokenKey != ''">#{tokenKey},</if>
			<if test="config != null  and config != ''">#{config},</if>
			<if test="tenantId != null ">#{tenantId},</if>
			<if test="status != null ">#{status},</if>
			<if test="createBy != null  and createBy != ''">#{createBy},</if>
			<if test="createTime != null ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null ">#{updateTime},</if>
			<if test="remark != null  and remark != ''">#{remark},</if>
		</trim>
	</insert>

	<update id="updateById" parameterType="com.github.platform.core.message.domain.common.entity.SysNoticeChannelConfigBase">
		update t_sys_notice_channel_config
		<set>
			<if test="channelType != null  and channelType != ''">channel_type = #{channelType},</if>
			<if test="appKey != null  and appKey != ''">app_key = #{appKey},</if>
			<if test="appSecret != null  and appSecret != ''">app_secret = #{appSecret},</if>
			<if test="host != null  and host != ''">host = #{host},</if>
			<if test="port != null ">port = #{port},</if>
			<if test="tokenKey != null  and tokenKey != ''">token_key = #{tokenKey},</if>
			<if test="config != null  and config != ''">config = #{config},</if>
			<if test="tenantId != null ">tenant_id = #{tenantId},</if>
			<if test="status != null ">status = #{status},</if>
			<if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
			<if test="createTime != null ">create_time = #{createTime},</if>
			<if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
			<if test="updateTime != null ">update_time = #{updateTime},</if>
			<if test="remark != null  and remark != ''">remark = #{remark},</if>
		</set>
		where id = #{id}
	</update>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_sys_notice_channel_config t where t.id=#{id}
	</select>
	<select id="findChannel" resultMap="BaseResultMap">
		select <include refid="BaseColumnList" /> from t_sys_notice_channel_config t
		where t.tenant_id = #{tenantId} and t.channel_type = #{channelType} limit 1
	</select>
	<select id="findByIds" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_sys_notice_channel_config t
		<where>
			<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
				#{id}
			</foreach>
		</where>
		limit 200
	</select>
	<select id="findListBy" resultMap="BaseResultMap" parameterType="com.github.platform.core.message.domain.common.entity.SysNoticeChannelConfigBase">
		select
		<include refid="BaseColumnList" />
		from t_sys_notice_channel_config t
		<where>
			<if test="channelType != null  and channelType != ''"> and t.channel_type = #{channelType}</if>
			<if test="tenantId != null "> and t.tenant_id = #{tenantId}</if>
			<if test="status != null "> and t.status = #{status}</if>
			<if test="searchStartTime != null">
				and t.create_time <![CDATA[>=]]> #{searchStartTime}
			</if>
			<if test="searchEndTime != null">
				and t.create_time <![CDATA[<=]]> #{searchEndTime}
			</if>
		</where>
	</select>
	<select id="findListByCount" resultType="java.lang.Long"  parameterType="com.github.platform.core.message.domain.common.entity.SysNoticeChannelConfigBase">
		select count(t.id) from t_sys_notice_channel_config t
		<where>
			<if test="channelType != null  and channelType != ''"> and t.channel_type = #{channelType}</if>
			<if test="tenantId != null "> and t.tenant_id = #{tenantId}</if>
			<if test="status != null "> and t.status = #{status}</if>
			<if test="searchStartTime != null">
				and t.create_time <![CDATA[>=]]> #{searchStartTime}
			</if>
			<if test="searchEndTime != null">
				and t.create_time <![CDATA[<=]]> #{searchEndTime}
			</if>
		</where>
	</select>
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from t_sys_notice_channel_config where id = #{id}
	</delete>
	<delete id="deleteByIds" parameterType="java.lang.Long">
		<!--没有传入数据抛异常，不会全删-->
		<if test="ids != null and ids.length>0">
			delete from t_sys_notice_channel_config
			<where>
				<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
					#{id}
				</foreach>
			</where>
		</if>
	</delete>
</mapper>