<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.platform.core.persistence.mapper.message.SysNoticeEventLogMapper">

	<!--数据库字段与属性映射-->
	<resultMap type="com.github.platform.core.message.domain.common.entity.SysNoticeEventLogBase" id="BaseResultMap">
		<id column="id" property="id" />
		<id column="msg_id" property="msgId" />
		<id column="event_type" property="eventType" />
		<id column="module" property="module" />
		<id column="node" property="node" />
		<id column="payload" property="payload" />
		<id column="tenant_id" property="tenantId" />
		<id column="status" property="status" />
		<id column="create_by" property="createBy" />
		<id column="create_time" property="createTime" />
		<id column="update_by" property="updateBy" />
		<id column="update_time" property="updateTime" />
		<id column="remark" property="remark" />
    </resultMap>
	<!--通用查询字段封装-->
    <sql id="BaseColumnList">
		t.id,
		t.msg_id,
		t.event_type,
		t.module,
		t.node,
		t.payload,
		t.tenant_id,
		t.status,
		t.create_by,
		t.create_time,
		t.update_by,
		t.update_time,
		t.remark
    </sql>

	<insert id="insert" useGeneratedKeys="true"  keyProperty="id" parameterType="com.github.platform.core.message.domain.common.entity.SysNoticeEventLogBase">
		insert into t_sys_notice_event_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null ">id,</if>
			<if test="msgId != null  and msgId != ''">msg_id,</if>
			<if test="eventType != null  and eventType != ''">event_type,</if>
			<if test="module != null  and module != ''">module,</if>
			<if test="node != null  and node != ''">node,</if>
			<if test="payload != null  and payload != ''">payload,</if>
			<if test="tenantId != null ">tenant_id,</if>
			<if test="status != null ">status,</if>
			<if test="createBy != null  and createBy != ''">create_by,</if>
			<if test="createTime != null ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''">update_by,</if>
			<if test="updateTime != null ">update_time,</if>
			<if test="remark != null  and remark != ''">remark,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null ">#{id},</if>
			<if test="msgId != null  and msgId != ''">#{msgId},</if>
			<if test="eventType != null  and eventType != ''">#{eventType},</if>
			<if test="module != null  and module != ''">#{module},</if>
			<if test="node != null  and node != ''">#{node},</if>
			<if test="payload != null  and payload != ''">#{payload},</if>
			<if test="tenantId != null ">#{tenantId},</if>
			<if test="status != null ">#{status},</if>
			<if test="createBy != null  and createBy != ''">#{createBy},</if>
			<if test="createTime != null ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null ">#{updateTime},</if>
			<if test="remark != null  and remark != ''">#{remark},</if>
		</trim>
	</insert>
	
	<update id="updateById" parameterType="com.github.platform.core.message.domain.common.entity.SysNoticeEventLogBase">
		update t_sys_notice_event_log
		<set>
			<if test="msgId != null  and msgId != ''">msg_id = #{msgId},</if>
			<if test="eventType != null  and eventType != ''">event_type = #{eventType},</if>
			<if test="module != null  and module != ''">module = #{module},</if>
			<if test="node != null  and node != ''">node = #{node},</if>
			<if test="payload != null  and payload != ''">payload = #{payload},</if>
			<if test="tenantId != null ">tenant_id = #{tenantId},</if>
			<if test="status != null ">status = #{status},</if>
			<if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
			<if test="createTime != null ">create_time = #{createTime},</if>
			<if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
			<if test="updateTime != null ">update_time = #{updateTime},</if>
			<if test="remark != null  and remark != ''">remark = #{remark},</if>
		</set>
		where id = #{id}
	</update>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_sys_notice_event_log t where t.id=#{id}
	</select>
	<select id="findByMsgId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="BaseColumnList" /> from t_sys_notice_event_log t where t.msg_id=#{msgId}
	</select>
	<select id="findByIds" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="BaseColumnList" /> from t_sys_notice_event_log t
		<where>
			<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
				#{id}
			</foreach>
		</where>
		limit 200
	</select>
	<select id="findListBy" resultMap="BaseResultMap" parameterType="com.github.platform.core.message.domain.common.entity.SysNoticeEventLogBase">
		select 
		<include refid="BaseColumnList" />
		from t_sys_notice_event_log t
		<where>
			<if test="id != null "> and t.id = #{id}</if>
			<if test="tenantId != null "> and t.tenant_id = #{tenantId}</if>
			<if test="status != null "> and t.status = #{status}</if>
			<if test="searchStartTime != null">
				and t.create_time <![CDATA[>=]]> #{searchStartTime}
			</if>
			<if test="searchEndTime != null">
				and t.create_time <![CDATA[<=]]> #{searchEndTime}
			</if>
		</where>
	</select>
	<select id="findListByCount" resultType="java.lang.Long"  parameterType="com.github.platform.core.message.domain.common.entity.SysNoticeEventLogBase">
		select count(t.id) from t_sys_notice_event_log t
		<where>
			<if test="id != null "> and t.id = #{id}</if>
			<if test="tenantId != null "> and t.tenant_id = #{tenantId}</if>
			<if test="status != null "> and t.status = #{status}</if>
			<if test="searchStartTime != null">
				and t.create_time <![CDATA[>=]]> #{searchStartTime}
			</if>
			<if test="searchEndTime != null">
				and t.create_time <![CDATA[<=]]> #{searchEndTime}
			</if>
		</where>
	</select>
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from t_sys_notice_event_log where id = #{id}
	</delete>
	<delete id="deleteByIds" parameterType="java.lang.Long">
		<!--没有传入数据抛异常，不会全删-->
		<if test="ids != null and ids.length>0">
			delete from t_sys_notice_event_log
			<where>
				<foreach item="id"  collection="ids" open="id  in (" separator="," close=")" >
					#{id}
				</foreach>
			</where>
		</if>
	</delete>
</mapper>